.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.main-wrapper{
    margin: 0px auto;
    margin-top: 6rem;
}
.main-wrapper {
    width: 80%;
        background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
     line-height: 1.5rem;
     padding-bottom: 80px;
     position: relative;
     
}
/* header section start*/
.logo{
float: left;
/* margin-top: 30px; */
/* margin-left: -155px; */
position: absolute;
left: 20px;
top: 20px;
}
.bar {
    height: 20px;
    width: 10%;
    float: right;
    /* margin-top: 30px; */
    /* margin-right: -155px; */
    font-size: 30px;
    color: #fff;
    background: transparent;
    position: absolute;
    right: -40px;
    top: 20px;
}
.section-one {
    padding: 120px 0;
}
/*header Section end */
.row {
    display: flex;
    padding: 24px;
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
.featured-area {
    background: #fff;
    padding: 70px 85px 80px 10px;
}
.col-md-4 {
    flex: 1;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-center {
    justify-content: center !important;
}
.single-feature .icon span {
    position: relative;
    z-index: 2;
    font-size: 24px;
}
span {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-wrap {
    flex-wrap: wrap !important;
}
.d-flex {
    display: flex !important;
}
.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h6, .h6 {
    font-size: 14px;
    color: #222222;
    margin-bottom: 10px;
    margin-top: 55px;
}
.single-feature .desc {
    width: 72%;
}

 .col-md-4 .col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 14px;
}
.align-items-center {
    align-items: center !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.single-feature .icon span {
    background: -webkit-linear-gradient(0deg, #e66587, #f09458);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-center {
    text-align: center;
}

.banner-content .top {
    font-size: 12px;
    margin-top: 190px;
       
}

.banner-content-section1 {
    text-align: center;
    width: 100%;
    padding-top: 300px;
        padding-bottom: 341px;
}
.banner-content {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    }
.w-100 {
    width: 100%;
} 

.text-white {
    color: #fff;
}


.text-uppercase {
    text-transform: uppercase;
}
h1 {
    font-size: 36px;
}
.textw{
    color: #fff;
}
.d-inline-flex {
    display: inline-flex;
}
.primary-btn {
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #222222;
    display: inline-block;
    font-weight: 500;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
    cursor: pointer;
}

.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
   
    }
 .lnr-arrow-right::before {
    content: "\e87a";
}
body {
  background-image: url("../images/backgroundimg.jpg");
   /* background-image: url(".../images/backgroundimg.jpg");*/
}
body:before {
    background-attachment: fixed;
    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5em;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     margin: 0;
    background-color: #fff;
}

body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 126%;
    height: 125%;
    position: fixed;
    background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    opacity: 0.6;
    z-index: -1;
}

.header-top {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Section 2 Styles */
.white-container {
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding: 105px 0;
}

.col-md-4 {
    padding: 16px 16px;
}
.single-feature .icon {
    text-align: center;
    height: 60px;
    width: 55px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    position: relative;
}
.single-feature .icon {
    text-align: center;
    height: 60px;
    width: 55px;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    position: relative;
}
.child-container {
    display: flex;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex: 2;  
}
.icon:hover{
        background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.icon {
    width: 36px;
    height: 36px;
    border: 1px solid #CACACA;
    padding: 8px;
}

.text-container {
    display: flex;
    flex: 4;  
    padding-left: 23px;
    flex-direction: column;
}

.heading {
    font-size: 14px;
}

.body-text {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}
/* Section 2 Styles END */
/* Section 3 */
.text-font-size{
font-size: 18px;
}
.text-font-sizes{
font-size: 12px;
}
.image-section{
    padding: 0px;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-sm-6{
    position: relative;
    width : 100%;
    min-height : 1px;
    padding-right: 1px;
    padding-left: 2px;
}
.single-service {
    margin-top: 40px;
}
.col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

a.trial-button {
    border: 1px solid #e66587;
    background: linear-gradient(to right, #e66587, #f09458);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    width: 70%;
}
.container {
    max-width: 960px;
}
.single-service:hover .overlay-content {
    opacity: 1;
    visibility: visible;
}
.single-service .image-section {
    height: auto;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
}
.overlay {
   
    top: 0;
    background: transparent;
    position: absolute;
    align-items: center;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.84);
}

.section-images {
    width: 90%;
}



.overlay-img-hover{
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color: #fff;
}
.btn-hover {
    
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container-img:hover .overlay-img-hover {
    opacity: 1;
}
.primary-btn.hover {
    color: #fff;
    border: 1px solid transparent;
        margin-bottom: 54px;
        margin-left: 4px;
        padding-top: 0px;
            background: lightsalmon;
}
.primary-btn {
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: transparent;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
}
.mr-10 {
    margin-right: 10px;
}
.primary-btn span {
    color: #fff;
    position: relative;
    z-index: 2;
}
.single-service .desc {
    margin-top: 30px;
    padding: 0 10px;
    line-height: 1.3;
    font-family: sans-serif;
    font-size: 0.9rem;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.our-service{
    padding-top: 20px;
        font-size: 24px;
        font-family: "Poppins",
        sans-serif;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}
/* section 3 Styles end*/
/* section 4*/
.text-black-fontsize{
font-size: 18px;
padding-top: 5px;
}
.text-black-fontsizes{
font-size: 18px;

}
.re-font{
    font-size: 10px;
    margin-bottom: -20px;
}
.sliderimg{
    background-position: center;
    /* padding-left: 150px; */
    padding-top: 45px;
}
.text-black-fontsizes{
font-size: 16px;
}
.text-black-fontsizess{
font-size: 10px;
}
.text-black {
    color: #000;
}
.our-amazing{
     font-size: 24px;
     font-family: "Poppins",
     sans-serif;
     margin-top: -70px;
     color: #000;
     font-weight: 300;
     margin-left: 13px;
     
       
}
.vector{

        font-size: 24px;
        font-family: "Poppins", sans-serif;
        margin-top: 80px;
        color: #000;
        font-weight: 300;
        margin-left: 13px;

}
.text-center-black{
    float: left;
    /* padding-left: 300px; */
}
.text-center-blacks{
    float: right;
    padding-right: 275px;
    padding-top: 0;

}
.text-center-blackss{
    font-size: 14px;
}
.section5p2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    color: #777;
    margin-left: -104px;
    line-height: 1.5em;
    text-align: center;
    margin-right: 127px;
}
.section5 {
    background: #fff;
    width: 100%;
    height: 465px;
    margin-top: -80px;
    padding-top: 60px;
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 22px;
    float: left;
}

.section5h1 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 35px;
    color: #111;
}

.section5h22 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 123px;
    color: #fff;
}

.section5p {

    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    font-weight: 300;
    color: #777;
    
}

.i3 {
    float: left;
    margin-left: 287px;
    height: 300px;
    padding-right: 10px;
    float: left;
    padding-left: 0px;
    margin-right: -613px;
    width: 50%;
    margin-top: 61px;
    margin-left: 180px;
}

.w3-left {
    float: left;
    margin-top: 230px;
    margin-left: -503px;
    color: #ddd;
}

.w3-right {
    float: right;
    margin-top: 230px;
    margin-right: 100px;
    color: #ddd;
}

.w3-display-left {
    float: left;
    margin-top: 230px;
    margin-left: -80px;
    margin-right: 10px;
    display: none;
}

.w3-display-right {
    float: right;
    margin-top: 230px;
    margin-left: -80px;
    margin-right: 10px;
    display: none;
}


/* section 4 end*/
/* Section 5*/
.story-area .story-box {
    padding: 60px 90px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
.middle-contener{
        width: 47%;
        margin-top: -13px;
        text-align: center;
        background: #fff;
        padding: 18px;
        margin-bottom: -80px;
        margin-left: -60px;

}
.story-title{
    padding-top: 50px;
    float: left;
    margin-left: -190px;
   
}
.heading1{
        font-size:16px;
        font-family: "Poppins",
        sans-serif;
        margin-left: -63px;
}
    .para {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  
    line-height: 1.5em;
    }

p {
    margin-top: 16px;
    margin-bottom: -1rem;
}
.text-whites{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20;
    
    text-transform: uppercase;
}
.imgcontener{
    width: 50%;
    height: 30px;
}
.sideimg{
        height: 294px;
        width: 150%;
        float: right;
        margin-top: -186px;
        margin-right: -533px;
}
.primary-btn-mid {
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: lightcoral;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.d-inline-flexs {
    display: inline-flex;
    margin-top: 28px;
}
.col-lg-2 {
    flex: 0 0 25%;
    max-width: 25%;
}
.container-section5{
        max-width: 720px;
}
align-items-centers {
    align-items: center !important;
    margin-bottom: -46px;
}
/* section 5 end*/
/* Footer */
.image-container-footer {
    display: flex;
    flex: 1;
}
.row-footer {
    display: flex;
    padding: 105px;
    padding-top: 30px;
    margin-left: 130px;
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
.img-section5{
    width: 97%;
    height: 400px;
}
p.test{
        width: 8em;
        word-wrap: break-word ;
        font-size: 14px;
    
}
.footerpara {
    float: left;
    margin-left: 55px;
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}
.heart {
    color: #e66686;
    margin-left: 48px;
    margin-top: -18px;
    font-size: 18px;
    margin-right: 69px;
    float: left;
}

.heart1 {
    color: #e66686;
    margin-left: 10px;
    margin-top: 14px;
    float: left;
    height: 20px;
    width: 20px;
    font-size: 18px;
    margin-right: 10px;
    float: left;
}
.by{
       font-family: "Poppins",
       sans-serif;
       font-weight: 300;
       color: #fff;
       margin-left: 5px;
       font-size: 16px

}
.facebook,
.twitter,
.world,
.be {
    height: 15px;
    width: 15px;
    margin: 1px solid #fff;
    float: right;
    margin-top: 12px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
}
footer-copy {
    width: 99%;
    height: 70px;
    background: #555;
    margin-top: 12px;
    margin-left: 1%;
    margin-right: 13%;
    padding-right: 5px;
    float: left;
    opacity: .7;
    color: #fff;
   
}
.footerwrapper{
	width: 80%;
	height: 70px;
	
	background: rgba(0, 0, 0, 0.25);

    margin: auto;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 130px;

}
.footer-logo {
    float: left;
    margin-top: 8px;
    margin-left: 14px;
}
/*footer end*/
/* last section*/

.section7 {
    height: 367px;
    width: 100%;
    background: #fff;
    margin-top: 2px;
    float: left;
}

.section7h1 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 85px;
    color: #000;
    font-weight: 300;
    margin-left: 363px;
}

.section7p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-top: -9px;
    font-weight: 300;
    color: #888;
    float: left;
    margin-left: 40%;
}
.innerpill-mid {
    padding-top: 10px;
    font-size: 16px;
    margin-top: 45px;
    height: 30px;
    width: 122px;
    border-radius: 105px;
    border: 1px solid #e66587;
    background: linear-gradient(to right, #e66587, #f09458);
    float: left;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left: 9px;
    padding-left: 0px;
    font-family: inherit;
}
.innerpill {
    padding-top: 10px;
    font-size: 16px;
    margin-top: -40px;
    height: 30px;
    width: 122px;
    border-radius: 105px;
    border: 1px solid #e66587;
    background: linear-gradient(to right, #e66587, #f09458);
    float: left;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-left: 230px;
    padding-left: 34px;
    font-family: inherit;
}

.innerpill:hover {
    cursor: pointer;
    background: linear-gradient(to right, #e66587, #f09458);
}

.outerpill {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    font-size: 16px;
    margin-top: 40px;
    height: 30px;
    width: 400px;
    margin-left: 280px;
    border-radius: 105px;
    border: 1px solid #fff;
    background: #fafafa;
    float: left;
    color: #777;
    text-align: left;
    padding-left: 40px;
    font-weight: 300;
    padding-top: 20px;
}
.container {
    max-width: 720px;
}
.container {
    max-width: 720px;
}
.justify-content-center {
    justify-content: center !important;
}
.col-lg-8{
     
         position: relative;
         width: 100%;
         min-height: 1px;
         padding-right: 15px;
         padding-left: 15px;
     
}



/*image slider */
/* Reset ----------- */

ul {
    list-style-type: none;
}
img {
    border: 0;
}

.left {
    float: left;
}
.right {
    float: right;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.pointer {
    cursor: pointer;
}
.wrapper {
    position: relative;
    margin: 0 auto;
}
.pad {
    padding: 1em;
}

/* Slider ----------- */
#content {
    margin: 5em 0;
}
.slider-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-wrap img {
    max-height: 200px;
}
.slider {
    width: 9999em;
    position: relative;
    left: 0;
}
.slide {
    position: relative;
    width: 60em;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background: #eee;
    border-right: 3px solid #aaa;
    border-left: 3px solid #aaa;
    float: left;
}
.slider-wrap .arrow {
    position: absolute;
    top: 40%;
    z-index: 3;
    background: rgba(0,0,0,.3);
    border-radius: 50px;
    padding: .5em 1em;
    color: #fff;
    margin: 1em;
    -webkit-transition: all .3s ease;
    display: none;
}
.arrow:hover {
    background: rgba(0,0,0,.5);
    -webkit-transition: all .3s ease;
}
.a-right {
    right: 0;
}
.slider-wrap > ul {
    position: absolute;
    z-index: 9999;
    bottom: 5%;
    left: 50%;
}
.slider-wrap > ul li {
    float: left;
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: 0 .5em;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
}
.slider-wrap > ul li:hover {
    -webkit-transition: all .3s ease;
    border-color: rgba(0,0,0,.5);
}
.circle {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    border-radius: 50px;
    -webkit-transition: all .3s ease;
}
.circle:hover {
    -webkit-transition: all .3s ease;
    background: rgba(0,0,0,.5);
}

/* Smartphones ----------- */
@media only screen and (max-width:30em) {
    .wrapper {
        width: 95%;
    }
    img {
        max-width: 100%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 62em) {
    .wrapper {
        width: 100%;
    }
}